<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="callSettersOnNulls" value="true" />
	</settings>

	<typeAliases>
		<typeAlias type="study.janek.springreactjwt.model.User"
			alias="User" />
		<typeAlias type="study.janek.springreactjwt.model.Board"
			alias="Board" />
		<typeAlias type="study.janek.springreactjwt.model.BoardLike"
			alias="BoardLike" />
		<typeAlias type="study.janek.springreactjwt.dto.SearchDto"
			alias="Search" />
		<typeAlias type="study.janek.springreactjwt.model.Reply"
			alias="Reply" />
		<typeAlias type="study.janek.springreactjwt.model.ReplyLike"
			alias="ReplyLike" />
	</typeAliases>

	<mappers>
		<mapper resource="mapper/UserMapper.xml" />
		<mapper resource="mapper/BoardMapper.xml" />
		<mapper resource="mapper/AdminMapper.xml" />
	</mappers>
</configuration>