<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.janek.springreactjwt.mapper.BoardMapper">

	<select id="getBoardList" parameterType="Search" resultType="Board">
		SELECT * FROM board
		<if test="keyword != ''">
			WHERE ${search} LIKE '%${keyword}%' or '${keyword}%' or '%${keyword}' or '${keyword}'
		</if>
		ORDER BY writeDate DESC LIMIT #{sNum}, 10
	</select>

	<select id="getListSize" resultType="int">
		SELECT COUNT(*) FROM board
		<if test='!keyword.equals("")'>
			WHERE ${search} LIKE '%${keyword}%' or '${keyword}%' or '%${keyword}' or '${keyword}'
		</if>
	</select>

	<select id="getBoardItem" resultType="Board">
		SELECT * FROM board WHERE
		id=#{boardId}
	</select>

	<select id="getBoardLike" resultType="BoardLike">
		SELECT * FROM boardLike
		WHERE id=#{boardId}
	</select>

	<insert id="insertBoard" parameterType="Board">
		INSERT INTO board
		(writer, title, content) VALUES (#{writer}, #{title}, #{content})
	</insert>

	<insert id="insertLike" parameterType="BoardLike">
		INSERT INTO boardLike (id,
		username) VALUES (#{id}, #{username})
	</insert>

	<delete id="deleteLike" parameterType="BoardLike">
		DELETE FROM boardLike
		WHERE id=#{id} AND username=#{username}
	</delete>

	<select id="deleteBoard" parameterType="Board">
		CALL delete_board(#{id},
		#{writer});
	</select>

</mapper>