<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.janek.springreactjwt.mapper.BoardMapper">

	<select id="getBoardList" parameterType="Search"
		resultType="Board">
		SELECT * FROM board
		<if test="keyword != ''">
			<choose>
				<when test="!isOnly">
					WHERE ${search} LIKE '%${keyword}%' or '${keyword}%'
					or '%${keyword}' or
					'${keyword}'
				</when>
				<otherwise>
					WHERE ${search} LIKE '${keyword}'
				</otherwise>
			</choose>
		</if>
		ORDER BY writeDate DESC LIMIT #{sNum}, 10
	</select>

	<select id="getListSize" resultType="int">
		SELECT COUNT(*) FROM board
		<if test='!keyword.equals("")'>
			<choose>
				<when test="!isOnly">
					WHERE ${search} LIKE '%${keyword}%' or '${keyword}%'
					or '%${keyword}' or
					'${keyword}'
				</when>
				<otherwise>
					WHERE ${search} LIKE '${keyword}'
				</otherwise>
			</choose>
		</if>
	</select>

	<update id="updateReadCnt" parameterType="int">
		UPDATE board SET
		readCnt = readCnt + 1 WHERE id=#{boardId}
	</update>

	<select id="getBoardItem" resultType="Board">
		SELECT * FROM board WHERE
		id=#{boardId}
	</select>
	
	<select id="getReplyList" parameterType="int" resultType="Reply">
		SELECT * FROM reply WHERE
		boardId=#{boardId} ORDER BY writeDate DESC
	</select>

	<select id="getBoardLike" resultType="BoardLike">
		SELECT * FROM boardLike
		WHERE id=#{boardId}
	</select>

	<insert id="insertBoard" parameterType="Board">
		INSERT INTO board
		(writer, title, content) VALUES (#{writer}, #{title}, #{content})
	</insert>

	<insert id="insertLike" parameterType="BoardLike">
		INSERT INTO boardLike (id,
		username) VALUES (#{id}, #{username})
	</insert>

	<delete id="deleteLike" parameterType="BoardLike">
		DELETE FROM boardLike
		WHERE id=#{id} AND username=#{username}
	</delete>

	<select id="deleteBoard" parameterType="Board">
		CALL delete_board(#{id},
		#{writer});
	</select>

	<insert id="insertReply" parameterType="Reply">
		INSERT INTO reply (boardId, writer, content) VALUES (#{boardId}, #{writer}, #{content})
	</insert>
	
	<select id="getReplyLikeList" parameterType="Long" resultType="ReplyLike">
		SELECT * FROM reply_like WHERE id=#{boardId}
	</select>
	
	<insert id="insertReplyLike" parameterType="ReplyLike">
		INSERT INTO reply_like (id, username, kind) VALUES (#{id}, #{username}, #{kind})
	</insert>
	
	<delete id="deleteReplyLike" parameterType="ReplyLike">
		DELETE FROM reply_like WHERE id=#{id} AND username=#{username}
	</delete>
</mapper>